@font-face {
  font-family: "HelveticaNeueLT-Thin";
  src: url("../fonts/HELVETICALT35THIN.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HELVETICALT35THIN.eot?#iefix") format("embedded-opentype"), url("../fonts/HELVETICALT35THIN.otf") format("opentype"), url("../fonts/HELVETICALT35THIN.svg") format("svg"), url("../fonts/HELVETICALT35THIN.ttf") format("truetype"), url("../fonts/HELVETICALT35THIN.woff") format("woff"), url("../fonts/HELVETICALT35THIN.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/Helvetica-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Helvetica-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-Light.otf") format("opentype"), url("../fonts/Helvetica-Light.svg") format("svg"), url("../fonts/Helvetica-Light.ttf") format("truetype"), url("../fonts/Helvetica-Light.woff") format("woff"), url("../fonts/Helvetica-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.otf") format("opentype"), url("../fonts/Roboto-Medium.svg") format("svg"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.otf") format("opentype"), url("../fonts/Roboto-Light.svg") format("svg"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px; }

.owl-nav button {
  outline: none; }

.page__content {
  margin-bottom: 100px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 50px 0 0;
  z-index: 2; }
  .header--black {
    background-color: rgba(0, 0, 0, 0.4);
    color: #000; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item {
  margin-right: 50px; }
  .main-nav__item:last-child {
    margin-right: 0; }

.main-nav__link {
  font-family: "Helvetica-Light", sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: #fff;
  text-decoration: none; }
  .main-nav__link:hover {
    text-decoration: underline; }
  .main-nav__link:active {
    text-decoration: underline; }

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto; }

.page-footer__text-section {
  width: 200px; }

.page-footer__title {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #4a4a4a; }

.page-footer__text {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  line-height: 2em;
  color: #4a4a4a; }

.page-footer__link {
  display: block;
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: #4a4a4a;
  text-decoration: none;
  line-height: 2em; }
  .page-footer__link:hover {
    text-decoration: underline; }

.page-footer__copyright {
  background-color: #fafafa;
  padding: 20px 0; }
  .page-footer__copyright-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto; }
  .page-footer__copyright-text {
    font-family: "Roboto-Light", sans-serif;
    font-size: 14px;
    line-height: 2em;
    color: #4a4a4a;
    margin: 0; }
  .page-footer__copyright-link {
    font-family: "Roboto-Light", sans-serif;
    font-size: 14px;
    line-height: 2em;
    color: #4a4a4a;
    text-decoration: none; }
    .page-footer__copyright-link:hover {
      text-decoration: underline; }

.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.partners__item {
  margin-right: 30px; }
  .partners__item:last-child {
    margin-right: 0; }

.heading {
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 70px;
  padding: 396px 0 85px; }
  .heading--inner {
    padding-bottom: 40px; }
  .heading__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; }
  .heading__title {
    font-family: "HelveticaNeueLT-Thin", sans-serif;
    font-size: 29px;
    line-height: 1.4em;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal; }
  .heading__promo {
    font-family: "Helvetica-Light", sans-serif;
    font-size: 62px;
    width: 80%;
    margin: 0; }
    .heading__promo--title {
      margin-bottom: 30px; }
  .heading__breadcrumbs {
    font-family: "Roboto-Light", sans-serif;
    font-size: 16px; }

.content-section {
  margin-bottom: 75px; }
  .content-section__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; }
  .content-section__title {
    font-family: "Helvetica-Light", sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 40px;
    color: #4a4a4a; }
  .content-section__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .content-section__flex-container--reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
  .content-section__media {
    width: 49%;
    height: 255px; }
    .content-section__media iframe {
      width: 100%;
      height: 255px; }
    .content-section__media img {
      width: 100%;
      height: auto; }
  .content-section__text {
    width: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "HelveticaNeueLT-Thin", sans-serif;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 30px;
    margin-top: -10px; }
    .content-section__text--nomargin {
      margin-top: 0; }
    .content-section__text-default {
      margin-top: 0;
      font-size: 18px; }
      .content-section__text-default--forgotten-title-because-maria {
        margin-top: auto;
        margin-bottom: auto; }
    .content-section__text-bold {
      margin-top: 0;
      font-family: "Helvetica-Light", sans-serif;
      font-size: 20px; }
    .content-section__text-small {
      margin-top: 0;
      font-family: "Helvetica-Light", sans-serif;
      font-size: 16px; }
  .content-section__link {
    margin-top: auto;
    margin-bottom: -8px; }
  .content-section--low-margin {
    margin-bottom: 50px; }

.cards {
  margin-bottom: 90px; }
  .cards__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; }
  .cards__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    background-color: #f6f6f6;
    padding-top: 25px; }
  .cards__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 160px; }
    .cards__img img {
      height: 100%;
      width: auto;
      margin: 0 auto; }
  .cards__title {
    font-family: "Helvetica-Light", sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    color: #4a4a4a; }

.link {
  font-family: "Helvetica-Light", sans-serif;
  font-size: 18px;
  color: #849343; }

.slider-section {
  background-color: #fafafa;
  padding: 40px 0;
  margin-bottom: 25px; }
  .slider-section--noslider {
    background-color: initial; }
  .slider-section__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; }
  .slider-section__title {
    font-family: "Helvetica-Light", sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 40px;
    color: #4a4a4a; }
  .slider-section__text {
    font-family: "HelveticaNeueLT-Thin", sans-serif;
    font-size: 18px;
    line-height: 1.5em; }
  .slider-section__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0; }
  .slider-section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 99%;
    background-color: #f6f6f6;
    padding: 40px 0;
    margin: auto;
    height: 100%; }
    .slider-section__item--green {
      -webkit-box-shadow: inset 0 0 0 1px #849343;
              box-shadow: inset 0 0 0 1px #849343;
      padding-bottom: 0; }
    .slider-section__item--noslider {
      width: 32%;
      margin-bottom: 20px;
      padding-bottom: 0; }
    .slider-section__item--no-overlay {
      background-color: initial;
      height: 300px; }
    .slider-section__item-title {
      font-family: "Helvetica-Light", sans-serif;
      font-size: 30px;
      font-weight: normal;
      text-align: center;
      color: #849343; }
      .slider-section__item-title--noslider {
        color: #4a4a4a; }
      .slider-section__item-title--partners {
        font-family: "Roboto-Medium", sans-serif;
        font-size: 18px;
        color: #4a4a4a; }
    .slider-section__item-description {
      width: 80%;
      margin: 0 auto;
      font-family: "Roboto-Light", sans-serif;
      font-size: 14px;
      color: #4a4a4a;
      text-align: center; }
  .slider-section__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 150px;
    margin: auto; }
    .slider-section__img img {
      height: 100%;
      width: auto;
      margin: 0 auto; }
    .slider-section__img--normal {
      min-height: 150px;
      -webkit-box-flex: 150px;
          -ms-flex: 150px;
              flex: 150px; }
      .slider-section__img--normal img {
        width: 100%;
        height: auto;
        margin: auto; }

.team__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.team__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.team__item {
  width: 360px;
  margin-bottom: 35px; }

.team__img img {
  width: 100%;
  height: auto; }

.team__name {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  margin-bottom: 0; }

.team__spec {
  font-family: "Roboto-Light", sans-serif;
  font-size: 19px;
  margin-top: 0; }

.contact__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 555px;
  font-family: "Helvetica-Light", sans-serif;
  font-size: 16px;
  line-height: 30px; }

.contact input {
  border: 1px solid #849343;
  padding: 10px 20px;
  margin-bottom: 25px;
  outline: none; }
  .contact input[type="text"] {
    font-family: "Helvetica-Light", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #4a4a4a; }
  .contact input[type="submit"] {
    font-family: "Helvetica-Light", sans-serif;
    font-size: 16px;
    line-height: 30px;
    background-color: #849343;
    color: #fff;
    width: 165px;
    border-radius: 25px;
    cursor: pointer; }

.contact select {
  font-family: "Helvetica-Light", sans-serif;
  font-size: 16px;
  line-height: 30px;
  border: 1px solid #849343;
  color: #4a4a4a;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 25px; }

.contact textarea {
  font-family: "Helvetica-Light", sans-serif;
  font-size: 16px;
  line-height: 30px;
  border: 1px solid #849343;
  color: #4a4a4a;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 25px; }

/*# sourceMappingURL=style.css.map */
