<!DOCTYPE html>
<html class="page  no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Главная</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="css/style.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body><noscript>У вас отключен JavaScript. Это пугает.</noscript>
  <div class="page__inner">
    <div class="page__content">
      <p>Шапка</p>
      <section class="constructor" id="app">
        <h2 class="constructor__title">{{ title }}</h2>
        <form class="constructor__settings" @change="onFormChange($el, $event)">
          <div class="constructor__type">
            <ul class="constructor__type-list">
              <li class="constructor__type-item"><input type="radio" id="together" name="consructor-type" value="together" v-model="constructorType"><label for="together">Слитно</label></li>
              <li class="constructor__type-item"><input type="radio" id="apart" name="consructor-type" value="apart" v-model="constructorType"><label for="apart">По букве</label></li>
            </ul>
          </div>
          <div class="constructor__value"><input class="constructor__value-input" type="text" id="constructor-content" maxlength="10" v-model="constructorValue" @input="onFormChange($el, $event)"><label class="constructor__value-label" for="constructor-content" :class="{ 'constructor__value-label--top': constructorCurrentValue }">Напишите Ваше слово</label>
            <p class="constructor__value-prompt"><span>Осталось</span><span> {{ constructorLeftValue }}</span><span> символов из</span><span> {{ constructorMaxValue }}</span></p>
          </div>
          <div class="constructor__font">
            <ul class="constructor__font-list">
              <li class="constructor__font-item"><input type="radio" id="zapf" name="constructor-font" value="zapf" v-model="constructorFont"><label for="zapf">А</label></li>
              <li class="constructor__font-item"><input type="radio" id="nautilus" name="constructor-font" value="nautilus" v-model="constructorFont"><label for="nautilus">А</label></li>
              <li class="constructor__font-item"><input type="radio" id="nexa" name="constructor-font" value="nexa" v-model="constructorFont"><label for="nexa">А</label></li>
            </ul>
          </div>
          <div class="constructor__material">
            <ul class="constructor__material-list">
              <li class="constructor__material-item"><input type="radio" id="silver" name="constructor-material" value="silver" v-model="constructorMaterial"><label for="silver">Серебро</label></li>
              <li class="constructor__material-item"><input type="radio" id="gold" name="constructor-material" value="gold" v-model="constructorMaterial"><label for="gold">Золото</label></li>
            </ul>
          </div>
          <div class="constructor__gold-type" v-if="constructorMaterial==='gold'">
            <ul class="constructor__gold-type-list">
              <li class="constructor__gold-type-item"><input type="radio" id="yellow" name="constructor-gold-type" value="yellow" v-model="constructorGoldType"><label for="yellow">Желтое</label></li>
              <li class="constructor__gold-type-item"><input type="radio" id="white" name="constructor-gold-type" value="white" v-model="constructorGoldType"><label for="white">Белое</label></li>
            </ul>
          </div>
          <div class="constructor__covering" v-if="constructorMaterial==='silver'">
            <ul class="constructor__covering-list">
              <li class="constructor__covering-item"><input type="checkbox" id="fianits" name="constructor-fianits" v-model="constructorFianits"><label for="fianits">Посыпать фианитами<a class="constructor__popup-link" href="#" @click.pevent="popup"> Как это выглядит?</a></label></li>
            </ul>
          </div>
          <!--button(@click.prevent='printData') Дату мне!-->
        </form>
        <div class="constructor__result">
          <div class="constructor__result-together" v-if="constructorType==='together'">
            <h2 class="constructor__result-title">Together</h2>
            <div class="constructor__result-together-container">
              <div class="constructor__result-image constructor__result-image--left"><img :src="imgSrc()" alt=""></div>
              <div class="constructor__result-image constructor__result-image--right"><img :src="imgSrc()" alt=""></div>
              <p class="constructor__result-string" :class="resultFontClass('constructor__result-string')">{{ constructorValue || 'петя' }}</p>
            </div>
          </div>
          <div class="constructor__result-together" v-if="constructorType==='apart'">
            <h2 class="constructor__result-title">Apart</h2>
            <div class="constructor__result-apart-container">
              <div class="constructor__result-image constructor__result-image--top"><img :src="imgSrc()" alt=""></div>
              <ul class="constructor__result-apart-list">
                <li class="constructor__result-apart-item" v-for="item in consructorApartArray" :class="[resultFontClass('constructor__result-apart-item'), item.class]">{{ item.value }}</li>
              </ul>
            </div>
          </div>
          <p class="constructor__result-price">{{ constructorPrice }} рублясиков</p>
        </div>
        <div class="constructor__popup" :class="{'constructor__popup--active': constructorIsPopupActive}"><span class="constructor__popup-button" @click.pevent="popup">+</span>
          <div class="constructor__popup-img"><img src="/img/yeahHell.png" alt=""></div>
        </div>
      </section>
      <script>
        var app = new Vue({
          el: '#app',
          data: {
            title: 'Создайте свою подвеску',
            constructorType: 'together',
            constructorFont: 'zapf',
            constructorMaterial: 'silver',
            constructorCovering: 'without',
            constructorFianits: false,
            constructorGoldType: 'yellow',
            constructorValue: '',
            constructorMaxValue: 10,
            constructorCurrentValue: 0,
            constructorLeftValue: 10,
            constructorPrice: 3500,
            constructorChanePrice: 500,
            constructorSilverBasePrice: 3500,
            constructorSilverAddPerCountPrice: 500,
            constructorFianitBasePrice: 1500,
            constructorFianitAddPerCountPrice: 500,
            constructorIsPopupActive: false,
            consructorApartArray: [{
                value: 'п',
                class: 'constructor__result-apart-item--top15'
              },
              {
                value: 'е',
                class: 'constructor__result-apart-item--top2'
              },
              {
                value: 'т',
                class: 'constructor__result-apart-item--top2'
              },
              {
                value: 'я',
                class: 'constructor__result-apart-item--top15'
              },
            ]
          },
          methods: {
            printData: function(event) {
              console.log(this);
            },
            onFormChange: function(el, event) {
              this.constructorCurrentValue = event.target.value.length;
              this.constructorLeftValue = this.constructorMaxValue - this.constructorCurrentValue;
              if (this.constructorValue.length === 0) {
                this.consructorApartArray = [{
                    value: 'п',
                    class: 'constructor__result-apart-item--top15'
                  },
                  {
                    value: 'е',
                    class: 'constructor__result-apart-item--top2'
                  },
                  {
                    value: 'т',
                    class: 'constructor__result-apart-item--top2'
                  },
                  {
                    value: 'я',
                    class: 'constructor__result-apart-item--top15'
                  },
                ];
              } else {
                let splitArray = this.constructorValue.split('');
                let consructorApartArray = [];
                splitArray.forEach(function(el, i, arr) {
                  consructorApartArray.push({
                    value: el
                  });
                });
                if (consructorApartArray.length === 2) {
                  consructorApartArray.forEach(function(el) {
                    el.class = 'constructor__result-apart-item--top10';
                  });
                } else if (consructorApartArray.length === 3) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 2)) {
                      el.class = 'constructor__result-apart-item--top14';
                    }
                  });
                } else if (consructorApartArray.length === 4) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 3)) {
                      el.class = 'constructor__result-apart-item--top15';
                    } else {
                      el.class = 'constructor__result-apart-item--top2';
                    }
                  });
                } else if (consructorApartArray.length === 5) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 4)) {
                      el.class = 'constructor__result-apart-item--top19';
                    } else if ((i === 1) || (i === 3)) {
                      el.class = 'constructor__result-apart-item--top5';
                    }
                  });
                } else if (consructorApartArray.length === 6) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 5)) {
                      el.class = 'constructor__result-apart-item--top19';
                    } else if ((i === 1) || (i === 4)) {
                      el.class = 'constructor__result-apart-item--top5';
                    }
                  });
                } else if (consructorApartArray.length === 7) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 6)) {
                      el.class = 'constructor__result-apart-item--top19';
                    } else if ((i === 1) || (i === 5)) {
                      el.class = 'constructor__result-apart-item--top8';
                    }
                  });
                } else if (consructorApartArray.length === 8) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 7)) {
                      el.class = 'constructor__result-apart-item--top21';
                    } else if ((i === 1) || (i === 6)) {
                      el.class = 'constructor__result-apart-item--top11';
                    } else if ((i === 2) || (i === 5)) {
                      el.class = 'constructor__result-apart-item--top4';
                    }
                  });
                } else if (consructorApartArray.length === 9) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 8)) {
                      el.class = 'constructor__result-apart-item--top22';
                    } else if ((i === 1) || (i === 7)) {
                      el.class = 'constructor__result-apart-item--top11';
                    } else if ((i === 2) || (i === 6)) {
                      el.class = 'constructor__result-apart-item--top4';
                    }
                  });
                } else if (consructorApartArray.length === 10) {
                  consructorApartArray.forEach(function(el, i) {
                    if ((i === 0) || (i === 9)) {
                      el.class = 'constructor__result-apart-item--top22';
                    } else if ((i === 1) || (i === 8)) {
                      el.class = 'constructor__result-apart-item--top13';
                    } else if ((i === 2) || (i === 7)) {
                      el.class = 'constructor__result-apart-item--top8';
                    }
                  });
                }
                this.consructorApartArray = consructorApartArray;
              }
              this.calculatePrice();
            },
            imgSrc: function() {
              if (this.constructorType === 'together') {
                if (
                  (this.constructorMaterial === 'gold' && this.constructorGoldType === 'yellow') ||
                  (this.constructorMaterial === 'silver' && this.constructorCovering === 'golden')
                ) {
                  return '/img/image_necklace-gold.png';
                } else {
                  return '/img/image_necklace-silver.png';
                }
              } else {
                if (
                  (this.constructorMaterial === 'gold' && this.constructorGoldType === 'yellow') ||
                  (this.constructorMaterial === 'silver' && this.constructorCovering === 'golden')
                ) {
                  return '/img/image_necklace-apart-gold.png';
                } else {
                  return '/img/image_necklace-apart-silver.png';
                }
              }
            },
            resultFontClass: function(parentClass) {
              let className = '';
              if (this.constructorFont === 'zapf') {
                className += parentClass + '--zapf';
              } else if (this.constructorFont === 'nautilus') {
                className += parentClass + '--nautilus';
              } else if (this.constructorFont === 'nexa') {
                className += parentClass + '--nexa';
              }
              if (
                (this.constructorMaterial === 'gold' && this.constructorGoldType === 'yellow') ||
                (this.constructorMaterial === 'silver' && this.constructorCovering === 'golden')
              ) {
                className += ' ' + parentClass + '--gold';
              }
              return className;
            },
            calculatePrice: function() {
              this.constructorPrice = 0;
              if (this.constructorMaterial === 'gold') {
                this.constructorPrice = 'неизвестно сколько';
              }
              if (this.constructorMaterial === 'silver') {
                this.constructorPrice = this.constructorSilverBasePrice;
                if (this.constructorValue.length > 5) {
                  this.constructorPrice += this.constructorSilverAddPerCountPrice;
                }
                if (this.constructorValue.length > 8) {
                  this.constructorPrice += this.constructorSilverAddPerCountPrice;
                }
                if (this.constructorType === 'apart') {
                  this.constructorPrice += this.constructorSilverAddPerCountPrice;
                }
                if (this.constructorFianits) {
                  this.constructorPrice += this.constructorFianitBasePrice;
                  if (this.constructorValue.length > 5) {
                    this.constructorPrice += this.constructorFianitAddPerCountPrice;
                  }
                  if (this.constructorValue.length > 8) {
                    this.constructorPrice += this.constructorFianitAddPerCountPrice;
                  }
                }
              }
            },
            popup: function() {
              this.constructorIsPopupActive = !this.constructorIsPopupActive;
            }
          }
        })
      </script>
    </div>
    <div class="page__footer-wrapper">
      <p>Подвал</p>
    </div>
  </div>
  <script src="js/vendors.min.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>